# LIST COMPREHENSION
List Comprehension is one of the methods of creating of a list. List comprehension makes your code more compact and reader friendly. List Comprehension can be very easy when you understand the syntax with which it works.<br /> I will divide this short class into 3 for easier understanding:
* Simple List Comprehension 
* Intermediate List Comprehension
* Advanced List Comprehension<br />

####          SIMPLE LIST COMPREHENSION

Syntax of Simple List Comprehension<br />

**<font size="3">[expression for item in iterable]</font>**
where:
* expression is the computation you want to do e.g x+x or x-y
* For is our normal for loop
* item is the object in the expression like x or y
* iterable is a list,set or any data structure that can return its element one at a time

#### Examples

In [1]:
# Example 1

In [2]:
[x for x in "babygirl"]  # it creates a new list from a string by printing out the string elements individually.

['b', 'a', 'b', 'y', 'g', 'i', 'r', 'l']

In [4]:
# Example 2

In [5]:
[x for x in range(1,20)] # Creating a new list from a range. simple,right?

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Example 3

In [11]:
a=["baby","Keith","Python","Data"]
[x.upper() for x in a]
# Changing every element in the list a into capital letter and creating a new list through it

['BABY', 'KEITH', 'PYTHON', 'DATA']

In [ ]:
# Example 4

In [12]:
a=[1,2,3,4,5,6,7,8,9]
[w*2 for w in a] #Creating a new list by multiplying the items in the other list by 2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# Example 5

In [19]:
a=[1,2,3,4,5,6,7,8,9]
b=[3,4,5,6,7,6,7,8,8]
c=[x+y for x in a for y in b]
print(c)  #This created a list by adding elements in a to b in a matrix style
# EXPLANATION

# element 1 in list a adds it self to all the element in b first i.e 1+3,1+4,1+5,1+6,etc
# then 2 in list b also does the same and adds itself to all the elements in b i.e 2+3,2+4,2+5,2+6,2+7,etc
# They do this till the last element of list a

[4, 5, 6, 7, 8, 7, 8, 9, 9, 5, 6, 7, 8, 9, 8, 9, 10, 10, 6, 7, 8, 9, 10, 9, 10, 11, 11, 7, 8, 9, 10, 11, 10, 11, 12, 12, 8, 9, 10, 11, 12, 11, 12, 13, 13, 9, 10, 11, 12, 13, 12, 13, 14, 14, 10, 11, 12, 13, 14, 13, 14, 15, 15, 11, 12, 13, 14, 15, 14, 15, 16, 16, 12, 13, 14, 15, 16, 15, 16, 17, 17]

In [22]:
a=[1,2,3,4,5,6,7,8,9]
b=[3,4,5,6,7,6,7,8,8]
c=[a[i] +b [i] for i in range(0,len(a))]  # This will perform a normal addition and create a new list c.
# a[i] +b[i] means that add the first element of a to only the first element of b
print(c)

[4, 6, 8, 10, 12, 12, 14, 16, 17]

### INTERMEDIATE LIST COMPREHENSION

Intermediate and advanced list comprehension has to do with involving conditional statement in the simple list syntax. The conditional statement makes all the difference between the simple list comprehension and advanced list comprehension.

Syntax of full List Comprehension<br />

**<font size="3">(1) [expression for item in iterable if conditional statement ]---This is used when you intend on using only if conditional statement</font>**

**<font size="3">(2) [expression if condition else condition for item in iterable ]---This is used when you intend on using the if and else statement</font>**
where:
* expression is the computation you want to do e.g x+x or x-y
* For is our normal for loop
* item is the object in the expression like x or y
* if/else are conditional statements
* iterable is a list,set or any data structure that can return its element one at a tim

You might be wondering why do we need list comprehensions when we can just use for loop. Let's look at some examples of why list comprehension is much faster and code friendly than for loop in creating new list;

#### Using the first syntax with only the if statement

Example 1<br />
Create a new list that will have all the common values in list1 and list2<br /><br />
list1=[1,2,3,"a","hello","friends",5,6]<br /><br />
list2=["b","a","c",5,2,"simple"]

In [6]:
# Using for loop to create a new list
list1=[1,2,3,"a","hello","friends",5,6]
list2=["b","a","c",5,2,"simple"]

New_list = []
for x in list1:
    for y in list2:
        if x ==y:
            New_list.append(x)
print(New_list)  # It printed out the common values,yay!!! 
# But it used 5 lines of code

[2, 'a', 5]

In [17]:
# Using list comprehension for the same problem
New_list=[x for x in list1 for y in list2 if x==y]
# we use two for statement here as a way of nesting the for loop. If statement says print only if the values in x and y are equal 
New_list # Just one line of code produces the same result. It looks more friendly to the eyes and more concise

[2, 'a', 5]

Example 2<br />
Create a new list of even numbers between a range of 1-35

In [14]:
# Using for loop
even=[]
for x in range(1,35):
    if x%2==0:
        even.append(x)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

In [15]:
# Using list comprehension
even=[x for x in range(1,35) if x%2==0]
even # The same list but in one line of code. Not too hard,right?

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

Example 3<br />
Create a new list from the numbers in the range of 1-100 if they are divisible by 2 and 7

In [19]:
New_list=[x for x in range(1,100) if x%2==0 if x%7==0]
New_list #It prints out only the values that can be divisible by 2 and 7

[14, 28, 42, 56, 70, 84, 98]

#### Using the second syntax of list comprehension<br />
[expression if condition else condition for item in iterable ]

Example 1<br />
Create a new list from list3 that prints out even if the value is divisible by 2, otherwise it should print odd

In [22]:
list3=[1,3,4,5,6,7,2,3,6,7,8,9,90,123,345]
["even" if x%2==0 else "odd" for x in list3]

['odd',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'odd']

Example 2<br />

In [67]:
years = [['January', 'February', 'March'], ['April', 'May', 'June'], ['July', 'August', 'September'],['October','November','December']]
# Nested List comprehension with an if condition
[years for sublist in years for years in sublist if len(years) <= 5 ]
# Creating a new list from a nested list if length of values is lesser than 5

['March', 'April', 'May', 'June', 'July']

In [68]:
years = ['January', 'February', 'March','April', 'May', 'June','July', 'August', 'September','October','November','December']
[years if len(years)<=5 else "Too long" for years in years ]

['Too long',
 'Too long',
 'March',
 'April',
 'May',
 'June',
 'July',
 'Too long',
 'Too long',
 'Too long',
 'Too long',
 'Too long']

 Example 3<br />
 Create a new list that will add 1 to every value greater than 5 between a range of 1-20 and subtract 1 from every value lesser than 5 from that range

In [69]:
[x+1 if x>5 else x-1 for x in range(1,20)]

[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Advanced list comprehension
I call this advanced because this shows how to create a new list from a dictionary and how we can use list comprehension to work on our dataframe during exploratory analysis.<br /><br />
The syntax is the same as the intermediate list comprehension

example 1<br />

When creating a new dictionary from a list, the term is called dict comprehension instead. Note: The curly bracket is used (instead of square bracket) for dict comprehension because we are creating a new dictionary.

In [76]:

{str(i):i for i in [1,2,3,4,5]} # Notice the curly bracket

# We have successfully created a dictionary

{'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}

Example 2<br />

In [79]:
a=["subject","Food","Fruit","Movie"]
b=["Mathematics","Pasta","Apple","Xena"]
{x:y for x in a for y in b}  # Created a new dict from two existing list

{'subject': 'Xena', 'Food': 'Xena', 'Fruit': 'Xena', 'Movie': 'Xena'}

Example 3

In [85]:
subjects=["mathematics","Physics","Chemistry","Geology"]
subject_dict={x:y for y,x in enumerate(subjects)}
subject_dict
# Creating a new dict using enumerate function. Enumerate function gives a numbering of iterations

{'mathematics': 0, 'Physics': 1, 'Chemistry': 2, 'Geology': 3}

In [87]:
{y:x for x,y in subject_dict.items()}

{0: 'mathematics', 1: 'Physics', 2: 'Chemistry', 3: 'Geology'}

#### Using list comprehension with a function

In [90]:
def func(x):
    return x**2

In [93]:
[func(x) for x in [1,2,3,4]] # You can use any function for the list comprehension

[1, 4, 9, 16]

#### Using List Comprehension on DataFrame

In [127]:
import numpy as np
import pandas as pd
a={"Name":["Mary","Ada","Jonathan","Adrian"],
  "age":[25,20,37,50],
   "Occupation":["Doctor","Data Scientist",np.nan,"Soldier"],
   "Gender":["female",np.nan,np.nan,np.nan]
  }

In [178]:
data=pd.DataFrame(a)
data

       Name  age      Occupation  Gender
0      Mary   25          Doctor  female
1       Ada   20  Data Scientist     NaN
2  Jonathan   37             NaN     NaN
3    Adrian   50         Soldier     NaN

Example 1<br />
Capitalize all the Names

In [179]:
data["Name"]=[i.upper() for i in data["Name"]]

In [130]:
data

       Name  age      Occupation  Gender
0      MARY   25          Doctor  female
1       ADA   20  Data Scientist     NaN
2  JONATHAN   37             NaN     NaN
3    ADRIAN   50         Soldier     NaN

EXAMPLE 2<br />
Add 10 to all the ages

In [180]:
data["age"]=[i+10 for i in data["age"]]

In [181]:
data

       Name  age      Occupation  Gender
0      MARY   35          Doctor  female
1       ADA   30  Data Scientist     NaN
2  JONATHAN   47             NaN     NaN
3    ADRIAN   60         Soldier     NaN

In [203]:
column_na=[column for column in data.columns if data[column].isna().sum()>=1]
column_na

['Occupation', 'Gender']

In [205]:
data["Total age"]=[i if i<40 else i//3 for i in data["age"]]
data

       Name  age      Occupation  Gender  Total age
0      MARY   35          Doctor  female         35
1       ADA   30  Data Scientist     NaN         30
2  JONATHAN   47             NaN     NaN         15
3    ADRIAN   60         Soldier     NaN         20

Go through it one more time and you can be sure to get beyond the basics of list comprehension. Till some other time